PORT=
URL=""

DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""
DB_SERVER=""
DB_PORT=""

JWT_SECRET=

EMAIL_SERVICE = ''
EMAIL_USERNAME = ''
EMAIL_PASSWORD = ''
EMAIL_PORT = ''
EMAIL_FROM = '' 
EMAIL_SENDER = ''

FB_BUCKET = ""
FB_CLIENTEMAIL = ""
FB_PRIVATEKEY = ""
FB_PROJECTID = ""

ADMIN_USER = ""
ADMIN_EMAIL = ""
ADMIN_PASSWORD = ""